@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl font-semibold;
    }
    h2 {
        @apply text-4xl font-semibold;
    }
    h3 {
        @apply text-3xl font-semibold;
    }
    h4 {
        @apply text-2xl font-semibold;
    }
    a,button,input,text-area{
        @apply transition-all;
    }
    section,.section{
        @apply py-10 md:py-20 overflow-hidden;
    }
    label{
        @apply text-gray-700 inline-block mb-2;
    }
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=date],
    .input{
        @apply px-3 py-3 bg-white border shadow-sm border-slate-300 placeholder-slate-400 w-full outline-none rounded-md focus:border-slate-500;
    }
    .nav-link{
        @apply rounded-lg px-3 py-2 text-slate-800 font-medium hover:bg-slate-100 hover:text-slate-900;
    }
    .button{
        @apply rounded-lg px-3 py-2 text-white bg-eastern-800 font-medium hover:bg-eastern-900;
    }
    .button-light{
        @apply rounded-lg px-3 py-2 text-slate-400 bg-slate-100 font-medium hover:bg-slate-300 hover:text-slate-600 ;
    }
    .button-light.active{
        @apply bg-yellow-400 text-yellow-900;
    }
    .container{
        @apply px-5 mx-auto;
    }
    .dropdown-item{
        @apply block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100;
    }
    .loading {
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
        background-size: 1000px 640px;
        
        position: relative;    
    }
    
    @keyframes placeHolderShimmer{
        0%{
            background-position: -468px 0
        }
        100%{
            background-position: 468px 0
        }
    }
}